[submodule "OpenPF2"]
	path = Plugins/OpenPF2
	url = https://github.com/OpenPF2/Plugin.git
[submodule "EnhancedAutomationSpecs"]
	path = Plugins/EnhancedAutomationSpecs
	url = https://github.com/OpenPF2/EnhancedUnrealSpecs.git
